@page "/"
@using Tabla_Amortizacion.Data

<EditForm Model="tabla" class="form" OnValidSubmit="() => valid = true" OnInvalidSubmit="() => valid = false">

    <div class="container-fluid">

        <h1>Tabla de Amortización</h1>


        <div class="row">
            <DataAnnotationsValidator />

            <div class="col-md-12 col-lg-4 mb-4">
                <label class="form-label">Monto</label>
                <InputNumber @bind-Value="tabla.Monto" class="form-control" placeholder="1,000,000" />
            </div>

            <div class="col-md-12 col-lg-4 mb-4">
                <label class="form-label">Tasa Anual</label>
                <InputNumber @bind-Value="tabla.TasaAnual" class="form-control" placeholder="12.5%" />
            </div>

            <div class="col-md-12 col-lg-4 mb-4">
                <label class="form-label">Plazo (en años)</label>
                <InputNumber @bind-Value="tabla.PlazoAnios" class="form-control" placeholder="10" />
            </div>

        </div>

        <div class="row">
            <button class="btn btn-primary mx-auto">Procesar Datos</button>
        </div>
    </div>

</EditForm>

@if (valid)
{
    <table class="table mt-5">
        <thead>
            <tr>
                <th scope="col">Pago</th>
                <th scope="col">Balance Inicial</th>
                <th scope="col">Cuota Fija</th>
                <th scope="col">Intereses</th>
                <th scope="col">Abono Capital</th>
                <th scope="col">Balance Final</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var p in tabla.Pagos())
            {
                <tr>
                    <th scope="row">@p.Numero</th>
                    <td>@p.BalanceInicial.ToString("C2")</td>
                    <td>@tabla.CuotaProg.ToString("C2")</td>
                    <td>@p.Intereses.ToString("C2")</td>
                    <td>@p.AbonoCapital.ToString("C2")</td>
                    <td>@p.BalanceFinal.ToString("C2")</td>
                </tr>
            }
            <tr>
            </tr>
        </tbody>
    </table>
}


@code
{
    TablaAmortizacion tabla = new();

    bool valid = false;
}