@page "/"
@using Tabla_Amortizacion.Data

<style>
    th, tr, td {
        text-align: center;
    }
</style>

<EditForm Model="tabla" class="form" OnValidSubmit="() => valid = true" OnInvalidSubmit="() => valid = false">

    <div class="container-fluid">

        <h1>Tabla de Amortización</h1>

        <div class="row">
            <DataAnnotationsValidator />

            <div class="col-md-12 col-lg-4 mb-4">
                <label class="form-label">Monto</label>
                <InputNumber @bind-Value="tabla.Monto" class="form-control" placeholder="1,000,000" />
            </div>

            <div class="col-md-12 col-lg-4 mb-4">
                <label class="form-label">Tasa Anual</label>
                <InputNumber @bind-Value="tabla.TasaAnual" class="form-control" placeholder="12.5%" />
            </div>

            <div class="col-md-12 col-lg-4 mb-4">
                <label class="form-label">Plazo (en años)</label>
                <InputNumber @bind-Value="tabla.PlazoAnios" class="form-control" placeholder="10" />
            </div>

        </div>

        <div class="row">
            <button class="btn btn-primary mx-auto">Procesar Datos</button>
        </div>
    </div>

</EditForm>

<hr />

@if (valid)
{
    <table class="table table-sm table-responsive-sm table-hover mt-5">
        <thead class="table-active">
            <tr>
                <th scope="col" style="vertical-align: middle;">Pago</th>
                <th scope="col" style="vertical-align: middle;">Balance Inicial</th>
                <th scope="col" style="vertical-align: middle;">Cuota Fija</th>
                <th scope="col" style="vertical-align: middle;">Intereses</th>
                <th scope="col" style="vertical-align: middle;">Abono Capital</th>
                <th scope="col" style="vertical-align: middle;">Balance Final</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var pago in tabla.Pagos())
            {
                <tr>
                    <th scope="row">@pago.Numero</th>
                    <td>@pago.BalanceInicial.ToString("C2")</td>
                    <td>@tabla.CuotaProg.ToString("C2")</td>
                    <td>@pago.Intereses.ToString("C2")</td>
                    <td>@pago.AbonoCapital.ToString("C2")</td>
                    <td>@pago.BalanceFinal.ToString("C2")</td>
                </tr>
            }
        </tbody>
        <tfoot>
            <tr class="table-active">
                <th scope="row" colspan="2">Total</th>
                <th scope="row">@((tabla.CuotaProg * tabla.PlazoMeses).ToString("C2"))</th>
                <th scope="row">@tabla.Pagos().Sum(p => p.Intereses).ToString("C2")</th>
                <th scope="row">@tabla.Pagos().Sum(p => p.AbonoCapital).ToString("C2")</th>
                <td></td>
            </tr>
        </tfoot>
    </table>
}

@code
{
    TablaAmortizacion tabla = new();

    bool valid = false;
}